.item {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 16px;
  transition: transform 0.2s;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.1rem;
  margin-top: 12px;
  margin-bottom: 0;
  color: #333;
  height: 24px;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.skeletonWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
